/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/


/*Omnicorp custom*/
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testBlock {
  border: solid 1px var(--main-gold);
}


/*Messages*/

.success > .messageSymbol {
  color: rgb(48, 124, 48);
}

.alert > .messageSymbol {
  color: rgb(124, 48, 48);
}

.messageBox {
  display: flex;
  flex-direction: column;
  width: 900px;
  position: relative;
  bottom: 15px;
}

.messageBox > .contentBox {
  flex-grow: 0;
  align-self: flex-start;
}


/*Header*/

.titleBlock {
  margin: 80px 0 50px;
}

.title {
  font-size: 100px;
  font-weight: 700;
}

.titleQuote {
  font-size: 40px;
  font-weight: 700;
}


/*Account*/

.accountBar {
  width: 900px;
  margin: 0 0 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}


/*General*/

.contentContainer {
  width: 900px;
  margin: 0 0 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.contentBox {
  border: solid 1px var(--main-gold);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

.button {
  background-color: var(--main-gold);
  color: var(--main-black);
  padding: 5px 8px;
  border-radius: 10px;
  text-transform: none;
}


/*Nav*/

.navLink, .logout {
  background: none;
  border: none;
  color: var(--main-gold);
  font-size: 20px;
  text-decoration: none;
  padding: 5px;
  display: block;
  font-weight: 100;
}

.navLink:hover, .logout:hover{
  color: var(--main-gold);
  text-decoration: underline;
}


/*Main*/

.mainContetBlock {
  width: 700px;
}

.mainContent {
  margin-top: 20px;
  margin-bottom: 20px;
}

.left {
  text-align: left;
}

.fundsButtonBox {
  margin: 10px
}